extends layout
block content
    header
        h1.title Branches
    main
        ul.list
            for branch in branches
                li.list__item
                    a(href=`/${branch}`) #{branch}
