extends layout
block content
    header
        h1.title Branches
    main
        if (branches[0])
            ul.list
                for branch in branches
                    li.list__item
                        a(href=`/${branch}`) #{branch}
        else
            h2 Repository is empty
